@import "tailwindcss";

@theme inline {
  --color-primary-100: #d87d4a;
  --color-primary-200: #fbaf85;
  --color-secondary-100: #f1f1f1;
  --color-secondary-200: #fafafa;
  --color-secondary-300: #4C4C4C;
  --font-manrope: var(--font-manrope);
}
